.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: 
    #131314;
}


/* body { overflow: hidden} */

  
  .search-box {
    margin-bottom: 2%;
  }
  
  @media screen and (max-width: 600px) {
    .search-box {
      position: fixed;
      bottom: 50%;
      left: 0;
      width: 100%;
      background-color: #fff; 
      padding: 10%;
      box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1); 
    }
  }
  

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 100%;
    padding: 20px;
    color: #ffffff;
}
.main .nav img{
    width: 4%;
    border-radius: 50px;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main-container .greet{
    margin: 2% ;
    text-align: center;
    font-size: 300%;
    color:#c4c7c5;
    font-weight: 500px;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg,#ff4b4b,#46a9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .greet span{
    text-align: center;
    align-items: center;
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .cards{
    display: grid;
    margin: 1% 1% 1% 1%;
    background-color:  #110f0f;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 1%;
}
.main .card{
    height: 100px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-color: #353535;
    border-radius: 10px;
    color: white;
    position: relative;
    cursor: pointer
}
.main .card img{
    width: 35px;
    padding: 5px;
     background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    position: absolute;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    background: rgb(124, 123, 123);
}
.main .card p{
    font-size: 17px;
    color: white;
}
.main .card:hover{
    background-color: #5684d8;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    background-color: #585858;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img{
    color: rgb(255, 255, 255);
    width: 50%;
    cursor: pointer; 
}
.search-box input{
    flex: 1;
    background: transparent;
    border: 0;
    color: rgb(198, 196, 196);
    outline: 0;
    padding: 8px;
    font-size: 18px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box button {
    background-color:  #585858;
    border-radius: 20%; 
    border: #110f0f;
}


.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    color: white;
    font-weight: 300;
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    color: white;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 2%;
    color: white;
}
.result img{
    width: 5%;
    border-radius: 50px;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
border-radius: 4px;
border: none;
background-color: #f6f7f8;
background: linear-gradient(to right,#b1d5ee,#c953e98a,#9ed7ff);
background-size: 800px 50px;
height: 20px;
animation: loader 4s infinite linear;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;

    }
    100%{
        background-position: 800px 0px;
    }
}

.result-data p{
    font-size: 100%;
    font-weight: 300%;
    line-height: 2;
}

